@font-face {
    font-family: 'spotify-circular';
    src: url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Light.afd9ab26.woff2") format('woff2'),
        url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Light.2a78c017.woff") format('woff'),
        url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Light.89e4be2e.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'spotify-circular';
    src: url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.3466e0ec.woff2") format('woff2'),
        url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.ea8d19db.woff") format('woff'),
        url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.a357677a.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'spotify-circular';
    src: url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.8d0a45cc.woff2") format('woff2'),
        url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.10e93738.woff") format('woff'),
        url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.7eb7d0f7.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
* {
    scrollbar-color:#2a2c2e#1c1e1f;
    scroll-behavior: smooth;
    /*box-sizing: border-box;*/
}
body {
    font-family: 'spotify-circular', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar  {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    z-index: 1;
    margin: 0;
    height: 4.5rem;
    width: 100%;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.0625rem 0.375rem 0px;
}
.item-nav {
    margin: 0;
    text-decoration: none;
    color: #fff;
}
.item-nav:hover {
    border-bottom:  1px solid #fff;
}
.section-1 {
    margin-top: 4.5rem;
    height: 30rem;
    width: 100%;
    background-color: #1f1f1e;
    color: #fff;
}
.section-2 {
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    /*background-image: linear-gradient(60deg, rgb(39, 83, 130) 0%, rgb(85, 47, 109) 80%);
    color: #fff;*/
}
.section-3 {
    width: 100%;
    height: 40rem;
}
.scroll-link {
    height: 0;
    transform: translate(0,-4.5rem);
}
.title {
    margin: 0;
    text-align: center;
    padding-top: 4.5rem;
}
.title-heading {
    margin: 0;
    font-size: 5.6rem;
    line-height: 1.07;
    letter-spacing: -.005rem;
}
.title-sub-heading {
    margin: 0;
    font-size: 2rem;
    font-style: italic;
    margin-top:.25rem;
    letter-spacing: .6rem;
    font-weight: 200;
}
.title-small {
    margin: 0;
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.title-description {
    padding-top: 1rem;
    line-height: 1.4;
    font-size: 1.2rem;
    text-align: justify;
}
.text-white {
    color: #fff;
}
.siriwaveform {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.siriwaveform video{
    width: 50%;
}
.container-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-colums {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c2-colums{
    width: 50%;
}
.disque-img {
    width: 80%;
    max-width: 500px;
}
.grid-disc img{
    scale: 1;
    transition: .5s ease-out;
    padding: 7%;
}
.grid-disc img:hover{
    scale: 1.05;    
    transition: .5s ease-out;
}
.grid-desc {
    padding: 0 10% 5% 0;
}
.bg-fade {
    height: 100%;
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0)),linear-gradient(-40deg, rgb(29, 185, 84) 0%, rgb(0, 0, 0) 80%);
}
.section3-container {
    height: 100%;
    padding: 0 5%;
}
.spotify-description {
    height: 100%;
}
.container-description{
    height: 70%;
    width: auto;
    padding: 0 8%;
}
.spoti-button {
    border: 0px none;
    background: rgb(29, 185, 84);
    padding: 15px 40px;
    border-radius: 25px;
    cursor: pointer;
}
.spoti-button:hover {
    border: 0px none;
    background: rgb(29, 185, 84);
    padding: 15px 40px;
    border-radius: 25px;
}
.listen {
    color: #fff;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600;
    font-family: 'spotify-circular', Arial, Helvetica, sans-serif;
    line-height: 16px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.7px;
}
.iframe-spotify {
    display: flex;
    align-items: center;
    justify-content: center;
    height:85%;
    background-image: linear-gradient(to bottom, rgb(36, 48, 47) 0%, rgb(0, 0, 0) 80%);
    border-radius: 15px;
}
.iframe-spotify iframe{
    height: 90%;
    width: 100%;
}
footer {
    font-size: .9rem;
    font-weight: 200;
    letter-spacing: .10rem;
    height: 4.5rem;
    background-color: #000;
    color: #fff;
}